{
  "swagger": "2.0",
  "info": {
    "title": "SimplyCPF API",
    "version": "2.0.0",
    "description": "Source-backed CPF calculation and reference API. Official policy data is identified with per-dataset provenance. Long-range projections and investment comparisons contain explicitly labelled SimplyCPF assumptions. SimplyCPF is independent and is not affiliated with CPF Board, IRAS, MOM, or any government agency.",
    "contact": {
      "name": "SimplyCPF",
      "url": "https://simplycpf.com"
    }
  },
  "host": "simplycpf.com",
  "basePath": "/api/cpf",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "tags": [
    {
      "name": "Calculation",
      "description": "CPF contribution calculations and assumption-labelled monthly projections"
    },
    {
      "name": "Policy",
      "description": "Official CPF policy reference datasets with provenance"
    },
    {
      "name": "Age Groups",
      "description": "Month-aware CPF age-band lookups with inclusive upper bounds"
    },
    {
      "name": "Interest Rates",
      "description": "Official quarterly CPF declarations and published rate methodology"
    },
    {
      "name": "Investment",
      "description": "SimplyCPF modelling tools using caller-supplied non-CPF assumptions"
    }
  ],
  "paths": {
    "/calculate": {
      "post": {
        "operationId": "calculateCpf",
        "summary": "Calculate CPF contributions",
        "description": "Calculates a contribution month using integer cents and the applicable sourced schedule in the canonical policy catalogue. The CPF wage bands, OW/AW ceilings, birthday-month transition, default SPR G/G schedule, official rounding order, account allocation order, and post-55 routing are represented explicitly. `income` and `date` are deprecated aliases retained for one compatibility cycle.",
        "tags": ["Calculation"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Canonical v2 request using birthMonth. The separately named ContributionInputByAge, LegacyContributionInput, and LegacyContributionInputByAge definitions document the other request envelopes accepted during the compatibility cycle.",
            "schema": {
              "$ref": "#/definitions/ContributionInput"
            },
            "x-example": {
              "contributionMonth": "2026-08",
              "ordinaryWages": 5000,
              "citizenship": "citizen",
              "birthMonth": "1996-04"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful source-backed calculation",
            "schema": {
              "$ref": "#/definitions/ContributionResult"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/UnsupportedPolicy"
          },
          "422": {
            "description": "Semantically incomplete input, including AW without annual OW and prior-AW context",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        }
      }
    },
    "/calculate/batch": {
      "post": {
        "operationId": "calculateCpfBatch",
        "summary": "Batch calculate CPF contributions",
        "description": "Calculates up to 100 contribution scenarios with the same v2 input and provenance contract as `/calculate`.",
        "tags": ["Calculation"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "scenarios": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 100,
                  "items": {
                    "$ref": "#/definitions/ContributionInput"
                  }
                }
              },
              "required": ["scenarios"],
              "additionalProperties": false
            },
            "x-example": {
              "scenarios": [
                {
                  "contributionMonth": "2026-08",
                  "ordinaryWages": 4000,
                  "citizenship": "citizen",
                  "birthMonth": "1996-04"
                },
                {
                  "contributionMonth": "2027-01",
                  "ordinaryWages": 8000,
                  "citizenship": "spr-year2",
                  "birthMonth": "1968-02"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Results in request order",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContributionResult"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/UnsupportedPolicy"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        }
      }
    },
    "/projection": {
      "post": {
        "operationId": "calculateProjection",
        "summary": "Generate a monthly-ledger CPF projection",
        "description": "Projects OA, SA, MA, and RA month by month. Starting balances are required for new clients. A legacy request that omits them may start at zero only when the response carries an explicit warning. Ordinary Wages are fixed monthly; Additional Wages are included only as explicitly dated payments with complete annual ceiling context. Policy after the catalogue's final published schedule is held constant by default and every affected annual row is marked `assumed`. The response provides CPF Board's exact published Standard Plan reference rows; it does not calculate a personalised CPF LIFE payout.",
        "tags": ["Calculation"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Canonical v2 request with explicit opening month and balances. ProjectionCompatibilityInput, ProjectionStartAgeCompatibilityInput, and LegacyProjectionInput separately document deprecated request envelopes accepted by the runtime.",
            "schema": {
              "$ref": "#/definitions/ProjectionInput"
            },
            "x-example": {
              "monthlyIncome": 6000,
              "birthDate": "04/1990",
              "startMonth": "2026-08",
              "initialBalances": {
                "oa": 90000,
                "sa": 70000,
                "ma": 50000,
                "ra": 0
              },
              "initialYearToDateAccruedInterest": {
                "oa": 0,
                "sa": 0,
                "ma": 0,
                "ra": 0
              },
              "initialCashTopUpTaxReliefUsedThisYear": 0,
              "endAge": 65,
              "citizenship": "citizen"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Projection with annual snapshots, assumptions, warnings, and row-level policy status",
            "schema": {
              "$ref": "#/definitions/ProjectionResult"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        }
      }
    },
    "/age-groups": {
      "get": {
        "operationId": "getAgeGroups",
        "summary": "List official age bands",
        "description": "Returns sourced age bands with `maxAgeInclusive`. From 2025, a generic band that crosses age 55 exposes explicit age-dependent SA-to-RA routing; an exact lookup resolves age 55 to RA. Rates still depend on contribution month and citizenship; use `/calculate` for an exact result.",
        "tags": ["Age Groups"],
        "parameters": [
          {
            "name": "contributionMonth",
            "in": "query",
            "required": false,
            "description": "Official policy month in YYYY-MM format. Defaults to the current supported month.",
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
          },
          {
            "name": "citizenship",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["citizen", "spr-year1", "spr-year2", "spr-year3-plus"],
            "description": "SPR Year 1 and Year 2 use CPF Board's default Graduated/Graduated schedule. Approved alternative SPR arrangements are outside scope."
          }
        ],
        "responses": {
          "200": {
            "description": "Official age bands and policy provenance",
            "schema": {
              "type": "object",
              "properties": {
                "contributionMonth": {
                  "type": "string"
                },
                "citizenship": {
                  "$ref": "#/definitions/Citizenship"
                },
                "schedule": {
                  "$ref": "#/definitions/ScheduleSummary"
                },
                "ageGroups": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AgeGroup"
                  }
                },
                "policy": {
                  "$ref": "#/definitions/AgePolicyMetadata"
                }
              },
              "required": [
                "contributionMonth",
                "citizenship",
                "schedule",
                "ageGroups",
                "policy"
              ]
            },
            "headers": {
              "Cache-Control": {
                "description": "Policy responses use browser caching for one hour and edge caching for 24 hours with 24-hour stale revalidation; they are not immutable.",
                "type": "string",
                "x-example": "public, max-age=3600, s-maxage=86400, stale-while-revalidate=86400"
              }
            }
          },
          "404": {
            "$ref": "#/responses/UnsupportedPolicy"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        }
      }
    },
    "/age-group/find": {
      "get": {
        "operationId": "findAgeGroup",
        "summary": "Find the official age band",
        "description": "Finds a month-aware age band. A completed age remains in an inclusive upper band and moves to the next rate only from the month after the relevant birthday.",
        "tags": ["Age Groups"],
        "parameters": [
          {
            "name": "age",
            "in": "query",
            "required": false,
            "description": "Completed age. Supply this or `birthMonth`.",
            "type": "integer",
            "minimum": 0,
            "maximum": 150
          },
          {
            "name": "birthMonth",
            "in": "query",
            "required": false,
            "description": "Birth month in YYYY-MM format; preferred for exact birthday-month treatment.",
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
          },
          {
            "name": "citizenship",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["citizen", "spr-year1", "spr-year2", "spr-year3-plus"],
            "description": "SPR Year 1 and Year 2 use CPF Board's default Graduated/Graduated schedule. Approved alternative SPR arrangements are outside scope."
          },
          {
            "name": "contributionMonth",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching band",
            "schema": {
              "$ref": "#/definitions/AgeGroupLookupResponse"
            },
            "headers": {
              "Cache-Control": {
                "description": "Policy responses use browser caching for one hour and edge caching for 24 hours with 24-hour stale revalidation; they are not immutable.",
                "type": "string",
                "x-example": "public, max-age=3600, s-maxage=86400, stale-while-revalidate=86400"
              }
            }
          },
          "404": {
            "$ref": "#/responses/UnsupportedPolicy"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/age/from-birthdate": {
      "get": {
        "operationId": "getAgeFromBirthdate",
        "summary": "Resolve month-aware age and CPF transition context",
        "description": "Supply `birthMonth=YYYY-MM` and `contributionMonth=YYYY-MM` for deterministic CPF age-band treatment. The deprecated `birthDate=MM/YYYY` alias may omit contributionMonth for one compatibility cycle; that path defaults to the current Singapore month, warns, and is returned with `private, no-store` caching.",
        "tags": ["Age Groups"],
        "parameters": [
          {
            "name": "birthMonth",
            "in": "query",
            "required": false,
            "description": "Birth month in YYYY-MM format. Supply this or the deprecated birthDate alias.",
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
          },
          {
            "name": "contributionMonth",
            "in": "query",
            "required": false,
            "description": "Required with birthMonth. May be omitted only on the deprecated birthDate compatibility path.",
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
          },
          {
            "name": "birthDate",
            "in": "query",
            "required": false,
            "description": "Deprecated MM/YYYY alias for birthMonth.",
            "x-deprecated": true,
            "type": "string",
            "pattern": "^(0[1-9]|1[0-2])/\\d{4}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved age context",
            "schema": {
              "$ref": "#/definitions/AgeConversionResponse"
            },
            "headers": {
              "Cache-Control": {
                "description": "An explicit modern contribution month uses the 24-hour policy cache. A deprecated birthDate request that defaults the month returns `private, no-store`.",
                "type": "string",
                "x-example-values": [
                  "public, max-age=3600, s-maxage=86400, stale-while-revalidate=86400",
                  "private, no-store"
                ]
              }
            }
          },
          "404": {
            "$ref": "#/responses/UnsupportedPolicy"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/ceiling": {
      "get": {
        "operationId": "getCeiling",
        "summary": "Get an official Ordinary Wage ceiling",
        "description": "Returns a sourced OW ceiling for a supported contribution month. Unsupported years are not silently clamped.",
        "tags": ["Policy"],
        "parameters": [
          {
            "name": "contributionMonth",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Deprecated alias for `contributionMonth`.",
            "x-deprecated": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Official OW and annual AW ceilings",
            "schema": {
              "$ref": "#/definitions/WageCeilingResponse"
            },
            "headers": {
              "Cache-Control": {
                "description": "Policy responses use browser caching for one hour and edge caching for 24 hours with 24-hour stale revalidation; they are not immutable.",
                "type": "string",
                "x-example": "public, max-age=3600, s-maxage=86400, stale-while-revalidate=86400"
              }
            }
          },
          "404": {
            "$ref": "#/responses/UnsupportedPolicy"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/ceiling/timeline": {
      "get": {
        "operationId": "getCeilingTimeline",
        "summary": "List sourced wage-ceiling schedules",
        "description": "Returns only published OW ceiling schedules; no future extrapolation.",
        "tags": ["Policy"],
        "responses": {
          "200": {
            "description": "Official ceiling schedule",
            "schema": {
              "type": "object",
              "properties": {
                "timeline": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/WageCeilingTimelineItem"
                  }
                },
                "policy": {
                  "$ref": "#/definitions/PolicyMetadata"
                }
              },
              "required": ["timeline", "policy"]
            },
            "headers": {
              "Cache-Control": {
                "description": "Policy responses use browser caching for one hour and edge caching for 24 hours with 24-hour stale revalidation; they are not immutable.",
                "type": "string",
                "x-example": "public, max-age=3600, s-maxage=86400, stale-while-revalidate=86400"
              }
            }
          }
        }
      }
    },
    "/bhs": {
      "get": {
        "operationId": "getBasicHealthcareSum",
        "summary": "Get a published Basic Healthcare Sum",
        "description": "Returns a published BHS cohort/year from the canonical policy catalogue. A public reference request for an unpublished year returns 404; only a projection may freeze the last published amount and mark it assumed.",
        "tags": ["Policy"],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Published BHS collection when year is omitted. A year-specific request returns the separately documented BhsResponse shape.",
            "schema": {
              "$ref": "#/definitions/BhsCollectionResponse"
            },
            "headers": {
              "Cache-Control": {
                "description": "Policy responses use browser caching for one hour and edge caching for 24 hours with 24-hour stale revalidation; they are not immutable.",
                "type": "string",
                "x-example": "public, max-age=3600, s-maxage=86400, stale-while-revalidate=86400"
              }
            }
          },
          "404": {
            "$ref": "#/responses/UnsupportedPolicy"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/retirement-sums": {
      "get": {
        "operationId": "getRetirementSums",
        "summary": "Get published retirement sums",
        "description": "Returns CPF Board's published BRS, FRS, and ERS for a supported cohort year in the canonical policy catalogue. It does not extrapolate.",
        "tags": ["Policy"],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Published retirement-sum collection when year is omitted. A year-specific request returns the separately documented RetirementSumsResponse shape.",
            "schema": {
              "$ref": "#/definitions/RetirementSumsCollectionResponse"
            },
            "headers": {
              "Cache-Control": {
                "description": "Policy responses use browser caching for one hour and edge caching for 24 hours with 24-hour stale revalidation; they are not immutable.",
                "type": "string",
                "x-example": "public, max-age=3600, s-maxage=86400, stale-while-revalidate=86400"
              }
            }
          },
          "404": {
            "$ref": "#/responses/UnsupportedPolicy"
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/interest-rates": {
      "get": {
        "operationId": "getInterestRates",
        "summary": "List official quarterly CPF interest declarations",
        "description": "Returns every declared quarterly account rate currently in the canonical policy catalogue and the documented OA and SMRA methodologies. It intentionally contains no reconstructed monthly SGS series.",
        "tags": ["Interest Rates"],
        "responses": {
          "200": {
            "description": "Official quarterly observations and methodology",
            "schema": {
              "$ref": "#/definitions/InterestRatesResponse"
            },
            "headers": {
              "Cache-Control": {
                "description": "Policy responses use browser caching for one hour and edge caching for 24 hours with 24-hour stale revalidation; they are not immutable.",
                "type": "string",
                "x-example": "public, max-age=3600, s-maxage=86400, stale-while-revalidate=86400"
              }
            }
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        }
      }
    },
    "/interest-rates/smra": {
      "get": {
        "operationId": "calculateSmra",
        "summary": "Apply the published SMRA peg",
        "description": "Applies CPF Board's documented 12-month-average 10-year SGS peg, markup, and floor. `sgsYield` is a deprecated alias for `averageSgsYield`.",
        "tags": ["Interest Rates"],
        "parameters": [
          {
            "name": "averageSgsYield",
            "in": "query",
            "required": false,
            "description": "The 12-month average 10-year SGS yield, as a percentage.",
            "type": "number",
            "minimum": 0
          },
          {
            "name": "sgsYield",
            "in": "query",
            "required": false,
            "description": "Deprecated alias for `averageSgsYield`.",
            "x-deprecated": true,
            "type": "number",
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Peg calculation",
            "schema": {
              "type": "object",
              "properties": {
                "averageSgsYield": {
                  "type": "number"
                },
                "peggedRate": {
                  "type": "number"
                },
                "floorApplied": {
                  "type": "boolean"
                },
                "actualRate": {
                  "type": "number"
                },
                "methodology": {
                  "type": "string"
                },
                "policy": {
                  "type": "object",
                  "description": "Provenance for the catalogue-derived SMRA methodology.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["official"]
                    },
                    "verifiedAt": {
                      "type": "string",
                      "format": "date"
                    },
                    "sourceUrls": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  },
                  "required": ["status", "verifiedAt", "sourceUrls"]
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "averageSgsYield",
                "peggedRate",
                "floorApplied",
                "actualRate",
                "methodology",
                "policy",
                "warnings"
              ]
            },
            "headers": {
              "Cache-Control": {
                "description": "Policy responses use browser caching for one hour and edge caching for 24 hours with 24-hour stale revalidation; they are not immutable.",
                "type": "string",
                "x-example": "public, max-age=3600, s-maxage=86400, stale-while-revalidate=86400"
              }
            }
          },
          "422": {
            "$ref": "#/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/interest-rates/trend": {
      "get": {
        "operationId": "getInterestRateTrend",
        "summary": "Get official quarterly CPF observations",
        "description": "Returns the same official quarterly declarations in chronological order. This v2 endpoint replaces the synthetic monthly SGS-derived trend.",
        "tags": ["Interest Rates"],
        "responses": {
          "200": {
            "description": "Official quarterly observations, methodology, and provenance",
            "schema": {
              "$ref": "#/definitions/InterestTrendResponse"
            },
            "headers": {
              "Cache-Control": {
                "description": "Policy responses use browser caching for one hour and edge caching for 24 hours with 24-hour stale revalidation; they are not immutable.",
                "type": "string",
                "x-example": "public, max-age=3600, s-maxage=86400, stale-while-revalidate=86400"
              }
            }
          }
        }
      }
    },
    "/investment-comparison": {
      "post": {
        "operationId": "compareInvestments",
        "summary": "Compare caller-supplied investment assumptions",
        "description": "A SimplyCPF modelling tool. CPF floor-rate presets are official policy inputs; non-CPF returns are editable caller assumptions and are not CPF Board facts or forecasts.",
        "tags": ["Investment"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "principal": {
                  "type": "number",
                  "minimum": 0
                },
                "years": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 50
                },
                "scenarios": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 10,
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "rate": {
                        "type": "number",
                        "description": "Caller assumption unless explicitly identified as an official CPF floor preset."
                      }
                    },
                    "required": ["name", "rate"]
                  }
                }
              },
              "required": ["principal", "years", "scenarios"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assumption-labelled comparison results",
            "schema": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "object"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "rate": {
                        "type": "number",
                        "description": "Caller-supplied assumption unless explicitly named as an official CPF floor preset."
                      },
                      "finalValue": {
                        "type": "number"
                      },
                      "totalGrowth": {
                        "type": "number"
                      },
                      "growthPercentage": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "name",
                      "rate",
                      "finalValue",
                      "totalGrowth",
                      "growthPercentage"
                    ]
                  }
                }
              },
              "required": ["input", "results"]
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          }
        }
      }
    }
  },
  "responses": {
    "BadRequest": {
      "description": "Malformed request",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "UnprocessableEntity": {
      "description": "Well-formed request that lacks required policy context or violates a semantic constraint",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "UnsupportedPolicy": {
      "description": "No official policy is published for the requested month or year; the public reference API does not fabricate a value",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "RateLimited": {
      "description": "Rate limit exceeded",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "details": {
          "x-nullable": true,
          "type": "object"
        }
      },
      "required": ["error"]
    },
    "Citizenship": {
      "type": "string",
      "enum": ["citizen", "spr-year1", "spr-year2", "spr-year3-plus"],
      "description": "SPR Year 1 and Year 2 use CPF Board's default Graduated/Graduated schedule. Approved alternative SPR arrangements are outside scope."
    },
    "AdditionalWageCeilingContext": {
      "type": "object",
      "properties": {
        "annualOrdinaryWagesSubjectToCpf": {
          "type": "number",
          "minimum": 0,
          "description": "Ordinary Wages subject to CPF across the calendar year."
        },
        "priorAdditionalWagesSubjectToCpf": {
          "type": "number",
          "minimum": 0,
          "description": "Additional Wages already made subject to CPF earlier in the calendar year."
        }
      },
      "required": [
        "annualOrdinaryWagesSubjectToCpf",
        "priorAdditionalWagesSubjectToCpf"
      ],
      "additionalProperties": false
    },
    "ContributionInput": {
      "type": "object",
      "description": "Canonical v2 contribution request. birthMonth is preferred because it resolves the official month-after-birthday transition exactly.",
      "properties": {
        "contributionMonth": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
          "description": "Contribution month used to resolve the effective CPF schedule."
        },
        "ordinaryWages": {
          "type": "number",
          "minimum": 0
        },
        "additionalWages": {
          "type": "number",
          "minimum": 0
        },
        "additionalWageCeilingContext": {
          "$ref": "#/definitions/AdditionalWageCeilingContext"
        },
        "citizenship": {
          "$ref": "#/definitions/Citizenship"
        },
        "birthMonth": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
          "description": "Birth month; preferred for the official month-after-birthday transition."
        },
        "hasReachedFullRetirementSum": {
          "type": "boolean",
          "description": "Optional account context for choosing the 55+ RA-until-FRS or OA-after-FRS branch. Both branches are returned when omitted."
        }
      },
      "required": [
        "contributionMonth",
        "ordinaryWages",
        "citizenship",
        "birthMonth"
      ],
      "additionalProperties": false
    },
    "ContributionInputByAge": {
      "type": "object",
      "description": "Canonical v2 alternative for callers that only know completed age. It cannot resolve a birthday-month transition as precisely as ContributionInput.",
      "properties": {
        "contributionMonth": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
        },
        "ordinaryWages": {
          "type": "number",
          "minimum": 0
        },
        "additionalWages": {
          "type": "number",
          "minimum": 0
        },
        "additionalWageCeilingContext": {
          "$ref": "#/definitions/AdditionalWageCeilingContext"
        },
        "citizenship": {
          "$ref": "#/definitions/Citizenship"
        },
        "age": {
          "type": "integer",
          "minimum": 0,
          "maximum": 150,
          "description": "Completed age for the contribution month."
        },
        "hasReachedFullRetirementSum": {
          "type": "boolean"
        }
      },
      "required": ["contributionMonth", "ordinaryWages", "citizenship", "age"],
      "additionalProperties": false
    },
    "LegacyContributionInput": {
      "type": "object",
      "description": "Deprecated compatibility envelope using date and income aliases with an exact birth month. Migrate to ContributionInput.",
      "properties": {
        "date": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
          "x-deprecated": true
        },
        "income": {
          "type": "number",
          "minimum": 0,
          "x-deprecated": true
        },
        "additionalWages": {
          "type": "number",
          "minimum": 0
        },
        "additionalWageCeilingContext": {
          "$ref": "#/definitions/AdditionalWageCeilingContext"
        },
        "citizenship": {
          "$ref": "#/definitions/Citizenship"
        },
        "birthMonth": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
        },
        "hasReachedFullRetirementSum": {
          "type": "boolean"
        }
      },
      "required": ["date", "income", "citizenship", "birthMonth"],
      "additionalProperties": false
    },
    "LegacyContributionInputByAge": {
      "type": "object",
      "description": "Deprecated compatibility envelope using date, income, and completed age. Migrate to ContributionInput or ContributionInputByAge.",
      "properties": {
        "date": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
          "x-deprecated": true
        },
        "income": {
          "type": "number",
          "minimum": 0,
          "x-deprecated": true
        },
        "additionalWages": {
          "type": "number",
          "minimum": 0
        },
        "additionalWageCeilingContext": {
          "$ref": "#/definitions/AdditionalWageCeilingContext"
        },
        "citizenship": {
          "$ref": "#/definitions/Citizenship"
        },
        "age": {
          "type": "integer",
          "minimum": 0,
          "maximum": 150
        },
        "hasReachedFullRetirementSum": {
          "type": "boolean"
        }
      },
      "required": ["date", "income", "citizenship", "age"],
      "additionalProperties": false
    },
    "MoneyDistribution": {
      "type": "object",
      "properties": {
        "OA": {
          "type": "number"
        },
        "SA": {
          "type": "number",
          "description": "Omitted after the 2025 SA closure for members aged 55 and above."
        },
        "RA": {
          "type": "number",
          "description": "Returned explicitly from age 55 after the SA closure."
        },
        "MA": {
          "type": "number"
        }
      },
      "required": ["OA", "MA"]
    },
    "PolicySource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "agency": {
          "type": "string",
          "enum": ["CPF Board", "IRAS", "MOM"]
        },
        "title": {
          "type": "string"
        },
        "url": {
          "type": "string",
          "format": "uri"
        }
      },
      "required": ["id", "agency", "title", "url"]
    },
    "PolicyMetadata": {
      "type": "object",
      "description": "Per-dataset provenance. A frozen future projection uses `assumed`, identifies the official base year/version, and explains the freeze in notes.",
      "properties": {
        "dataset": {
          "type": "string",
          "enum": [
            "cpf-contribution-rates",
            "cpf-allocation-rates",
            "cpf-wage-ceilings",
            "cpf-basic-healthcare-sum",
            "cpf-retirement-sums",
            "cpf-interest-rates",
            "cpf-extra-interest",
            "cpf-special-account-closure",
            "cpf-retirement-withdrawals",
            "cpf-life-reference-payouts",
            "cpf-retirement-top-ups",
            "cpf-housing-refunds",
            "iras-cpf-cash-top-up-relief",
            "mom-retirement-re-employment-ages"
          ]
        },
        "label": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": ["official", "assumed"]
        },
        "effectiveFrom": {
          "type": "string",
          "format": "date"
        },
        "effectiveTo": {
          "type": "string",
          "format": "date"
        },
        "verifiedAt": {
          "type": "string",
          "format": "date"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicySource"
          }
        },
        "scope": {
          "type": "string"
        },
        "notes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "dataset",
        "label",
        "version",
        "status",
        "effectiveFrom",
        "verifiedAt",
        "sources"
      ]
    },
    "ContributionAllocationBranch": {
      "type": "object",
      "description": "Exact account allocation for one official post-55 FRS-routing branch.",
      "properties": {
        "OA": {
          "type": "number"
        },
        "RA": {
          "type": "number"
        },
        "MA": {
          "type": "number"
        }
      },
      "required": ["OA", "RA", "MA"],
      "additionalProperties": false
    },
    "ContributionRoutingBranches": {
      "type": "object",
      "properties": {
        "beforeFullRetirementSum": {
          "$ref": "#/definitions/ContributionAllocationBranch"
        },
        "afterFullRetirementSum": {
          "$ref": "#/definitions/ContributionAllocationBranch"
        }
      },
      "required": ["beforeFullRetirementSum", "afterFullRetirementSum"],
      "additionalProperties": false
    },
    "ContributionRouting": {
      "type": "object",
      "description": "For members 55+, exposes both official allocation branches unless FRS context selects one.",
      "properties": {
        "selected": {
          "type": "string",
          "enum": ["RA", "OA", "undetermined"]
        },
        "rule": {
          "type": "string",
          "enum": ["RA until FRS, then OA"]
        },
        "branches": {
          "$ref": "#/definitions/ContributionRoutingBranches"
        }
      },
      "required": ["selected", "rule", "branches"],
      "additionalProperties": false
    },
    "ContributionResult": {
      "type": "object",
      "properties": {
        "contribution": {
          "type": "object",
          "properties": {
            "employee": {
              "type": "number"
            },
            "employer": {
              "type": "number"
            },
            "totalContribution": {
              "type": "number"
            }
          },
          "required": ["employee", "employer", "totalContribution"]
        },
        "distribution": {
          "$ref": "#/definitions/MoneyDistribution"
        },
        "afterCpfContribution": {
          "type": "number"
        },
        "wageBand": {
          "type": "string",
          "enum": [
            "no-contribution",
            "employer-only",
            "phased-employee-share",
            "full-rates"
          ]
        },
        "subjectWages": {
          "type": "object",
          "properties": {
            "ordinaryWages": {
              "type": "number"
            },
            "additionalWages": {
              "type": "number"
            },
            "total": {
              "type": "number"
            }
          },
          "required": ["ordinaryWages", "additionalWages", "total"]
        },
        "age": {
          "type": "object",
          "properties": {
            "completedAge": {
              "type": "integer"
            },
            "contributionBand": {
              "type": "string"
            },
            "allocationBand": {
              "type": "string"
            },
            "transitionAppliedFromBirthMonth": {
              "type": "boolean"
            }
          },
          "required": [
            "completedAge",
            "contributionBand",
            "allocationBand",
            "transitionAppliedFromBirthMonth"
          ]
        },
        "schedule": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "effectiveFrom": {
              "type": "string"
            },
            "effectiveTo": {
              "type": "string"
            },
            "citizenship": {
              "$ref": "#/definitions/Citizenship"
            },
            "employeeRate": {
              "type": "number"
            },
            "employerRate": {
              "type": "number"
            },
            "ordinaryWageCeiling": {
              "type": "number"
            },
            "additionalWageCeiling": {
              "type": "number"
            },
            "status": {
              "type": "string",
              "enum": ["official", "assumed"]
            }
          },
          "required": [
            "id",
            "effectiveFrom",
            "effectiveTo",
            "citizenship",
            "employeeRate",
            "employerRate",
            "ordinaryWageCeiling",
            "additionalWageCeiling",
            "status"
          ]
        },
        "routing": {
          "$ref": "#/definitions/ContributionRouting"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": ["code", "message"]
          }
        },
        "policy": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/PolicyMetadata"
          }
        }
      },
      "required": [
        "contribution",
        "distribution",
        "afterCpfContribution",
        "wageBand",
        "subjectWages",
        "age",
        "schedule",
        "warnings",
        "policy"
      ]
    },
    "AccountBalances": {
      "type": "object",
      "properties": {
        "oa": {
          "type": "number",
          "minimum": 0
        },
        "sa": {
          "type": "number",
          "minimum": 0
        },
        "ma": {
          "type": "number",
          "minimum": 0
        },
        "ra": {
          "type": "number",
          "minimum": 0
        }
      },
      "required": ["oa", "sa", "ma", "ra"],
      "additionalProperties": false
    },
    "ProjectionAdditionalWageCeilingContext": {
      "type": "object",
      "description": "Canonical annual OW and prior-AW context used to resolve the AW ceiling.",
      "properties": {
        "annualOrdinaryWagesSubjectToCpf": {
          "type": "number",
          "minimum": 0
        },
        "priorAdditionalWagesSubjectToCpf": {
          "type": "number",
          "minimum": 0
        }
      },
      "required": [
        "annualOrdinaryWagesSubjectToCpf",
        "priorAdditionalWagesSubjectToCpf"
      ],
      "additionalProperties": false
    },
    "ProjectionRemainingAdditionalWageCeilingContext": {
      "type": "object",
      "description": "Compatibility alternative when payroll records already provide the remaining AW ceiling immediately before the payment.",
      "properties": {
        "remainingAdditionalWageCeiling": {
          "type": "number",
          "minimum": 0
        }
      },
      "required": ["remainingAdditionalWageCeiling"],
      "additionalProperties": false
    },
    "ProjectionAdditionalWage": {
      "type": "object",
      "properties": {
        "contributionMonth": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
          "description": "Exact month in which this AW payment is due. It must fall within the projection range."
        },
        "amount": {
          "type": "number",
          "minimum": 0,
          "exclusiveMinimum": true
        },
        "additionalWageCeilingContext": {
          "$ref": "#/definitions/ProjectionAdditionalWageCeilingContext"
        }
      },
      "required": [
        "contributionMonth",
        "amount",
        "additionalWageCeilingContext"
      ],
      "additionalProperties": false
    },
    "ProjectionAdditionalWageWithRemainingCeiling": {
      "type": "object",
      "description": "Compatibility AW payment using a payroll-supplied remaining ceiling. Prefer ProjectionAdditionalWage with complete annual context.",
      "properties": {
        "contributionMonth": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
        },
        "amount": {
          "type": "number",
          "minimum": 0,
          "exclusiveMinimum": true
        },
        "additionalWageCeilingContext": {
          "$ref": "#/definitions/ProjectionRemainingAdditionalWageCeilingContext"
        }
      },
      "required": [
        "contributionMonth",
        "amount",
        "additionalWageCeilingContext"
      ],
      "additionalProperties": false
    },
    "ProjectionInput": {
      "type": "object",
      "description": "Canonical v2 request with an exact birth month, explicit opening month, and all four opening balances. Deprecated envelopes are documented in separate definitions.",
      "properties": {
        "monthlyIncome": {
          "type": "number",
          "minimum": 0,
          "description": "Fixed monthly Ordinary Wages. No salary growth is inferred."
        },
        "additionalWages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectionAdditionalWage"
          },
          "description": "One-off AW payments in exact contribution months. At most one entry is accepted per month; incomplete context, duplicate months, and months outside the projection return 422. No bonus is inferred."
        },
        "birthDate": {
          "type": "string",
          "pattern": "^(0[1-9]|1[0-2])/\\d{4}$",
          "description": "Birth month in MM/YYYY format."
        },
        "startMonth": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
          "description": "Opening projection month. Compatibility omission defaults to the current Singapore month and returns a warning."
        },
        "initialBalances": {
          "$ref": "#/definitions/AccountBalances"
        },
        "initialYearToDateAccruedInterest": {
          "$ref": "#/definitions/AccountBalances",
          "description": "Interest accrued from January through the month before startMonth but not yet credited. Supply destination-account totals from CPF records for starts after January."
        },
        "initialRaSavingsForLimits": {
          "type": "number",
          "minimum": 0,
          "description": "CPF Board's RA-savings measure for retirement-sum and top-up limits. It excludes interest and generally government grants while including counted withdrawals and CPF LIFE premiums."
        },
        "initialRaSavingsForContributionRouting": {
          "type": "number",
          "minimum": 0,
          "description": "RA cash principal used to route the post-55 retirement share of employment contributions. A property-backed retirement withdrawal reduces this measure."
        },
        "initialCashTopUpTaxReliefUsedThisYear": {
          "type": "number",
          "minimum": 0,
          "description": "Cash top-up relief cap already used in the start calendar year. This does not determine MRSS/MMSS, giver/recipient, residency, or overall tax-relief eligibility."
        },
        "endAge": {
          "type": "integer",
          "minimum": 0,
          "maximum": 70,
          "description": "Final pre-CPF-LIFE ledger age. Age 70 is an opening checkpoint immediately before the birthday/payout month."
        },
        "startAge": {
          "type": "integer",
          "minimum": 0,
          "x-deprecated": true,
          "description": "Compatibility field. Prefer birthDate so birthday-month transitions can be resolved exactly."
        },
        "citizenship": {
          "$ref": "#/definitions/Citizenship"
        },
        "housingWithdrawal": {
          "type": "number",
          "minimum": 0,
          "description": "Optional amount withdrawn from OA every projection month. This is a SimplyCPF scenario input, not a CPF Board assumption."
        },
        "permanentResidentSince": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
          "description": "Month PR status began. Required by the UI for SPR Year 1/2 so anniversary transitions can be resolved; legacy omission freezes the selected graduated year and returns a warning."
        },
        "netSaSavingsWithdrawnForInvestments": {
          "type": "number",
          "minimum": 0,
          "description": "Net SA savings withdrawn for investments. These count towards the under-55 FRS test for retirement top-ups, OA retirement transfers, and MA overflow routing; omitting the field can overstate capacity or change overflow routing and produces a warning when relevant."
        },
        "voluntaryTopUp": {
          "type": "object",
          "properties": {
            "amount": {
              "type": "number",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "account": {
              "type": "string",
              "enum": ["retirement", "MA", "SA", "RA"]
            },
            "frequency": {
              "type": "string",
              "enum": ["monthly", "yearly"]
            }
          },
          "required": ["amount", "account", "frequency"]
        },
        "retirementTransfer": {
          "type": "object",
          "description": "Age-aware OA transfer routed to SA below 55 or RA from 55.",
          "properties": {
            "amount": {
              "type": "number",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "timing": {
              "type": "string",
              "enum": ["now", "monthly", "yearly"]
            }
          },
          "required": ["amount", "timing"]
        },
        "oaToSaTransfer": {
          "x-deprecated": true,
          "description": "Deprecated alias for `retirementTransfer`; it is age-aware despite the legacy name.",
          "type": "object",
          "properties": {
            "amount": {
              "type": "number",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "timing": {
              "type": "string",
              "enum": ["now", "yearly"]
            }
          },
          "required": ["amount", "timing"]
        },
        "retirementRouting": {
          "type": "string",
          "enum": ["full-retirement-sum", "basic-retirement-sum-with-property"],
          "description": "Explicit scenario choice for age-55 routing. If omitted, the engine states its assumption in the result."
        },
        "income": {
          "type": "number",
          "minimum": 0,
          "x-deprecated": true,
          "description": "Legacy projection alias for monthlyIncome. Accepted only with age and years."
        },
        "age": {
          "type": "integer",
          "minimum": 0,
          "x-deprecated": true,
          "description": "Legacy completed-age field. Accepted only with income and years."
        },
        "years": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "x-deprecated": true,
          "description": "Legacy projection duration. Accepted only with income and age."
        }
      },
      "required": [
        "monthlyIncome",
        "birthDate",
        "startMonth",
        "initialBalances",
        "citizenship"
      ],
      "additionalProperties": false
    },
    "ProjectionCompatibilityInput": {
      "type": "object",
      "description": "Deprecated v2 compatibility envelope that omits startMonth and initialBalances. The runtime defaults the month and zero balances and returns an explicit warning. Canonical ProjectionInput scenario fields are also accepted.",
      "properties": {
        "monthlyIncome": {
          "type": "number",
          "minimum": 0
        },
        "birthDate": {
          "type": "string",
          "pattern": "^(0[1-9]|1[0-2])/\\d{4}$"
        },
        "citizenship": {
          "$ref": "#/definitions/Citizenship"
        },
        "endAge": {
          "type": "integer",
          "minimum": 0,
          "maximum": 70
        }
      },
      "required": ["monthlyIncome", "birthDate", "citizenship"]
    },
    "ProjectionStartAgeCompatibilityInput": {
      "type": "object",
      "description": "Deprecated compatibility envelope that infers a birth month and zero opening balances from startAge. The response carries an explicit migration warning.",
      "properties": {
        "monthlyIncome": {
          "type": "number",
          "minimum": 0
        },
        "startAge": {
          "type": "integer",
          "minimum": 0,
          "x-deprecated": true
        },
        "citizenship": {
          "$ref": "#/definitions/Citizenship"
        },
        "endAge": {
          "type": "integer",
          "minimum": 0,
          "maximum": 70
        }
      },
      "required": ["monthlyIncome", "startAge", "citizenship"]
    },
    "LegacyProjectionInput": {
      "type": "object",
      "description": "Deprecated pre-v2 projection envelope. Migrate to monthlyIncome, birthDate, startMonth, initialBalances, and endAge.",
      "properties": {
        "income": {
          "type": "number",
          "minimum": 0,
          "x-deprecated": true
        },
        "age": {
          "type": "integer",
          "minimum": 0,
          "x-deprecated": true
        },
        "years": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "x-deprecated": true
        },
        "citizenship": {
          "$ref": "#/definitions/Citizenship"
        },
        "startMonth": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
        },
        "birthDate": {
          "type": "string",
          "pattern": "^(0[1-9]|1[0-2])/\\d{4}$"
        }
      },
      "required": ["income", "age", "years"]
    },
    "ProjectionResult": {
      "type": "object",
      "properties": {
        "input": {
          "$ref": "#/definitions/ProjectionInput"
        },
        "yearlyBalances": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "year": {
                "type": "integer"
              },
              "month": {
                "type": "string"
              },
              "age": {
                "type": "integer"
              },
              "ageGroup": {
                "type": "string"
              },
              "balances": {
                "$ref": "#/definitions/AccountBalances"
              },
              "contributions": {
                "type": "object",
                "properties": {
                  "employee": {
                    "type": "number"
                  },
                  "employer": {
                    "type": "number"
                  },
                  "total": {
                    "type": "number"
                  }
                },
                "required": ["employee", "employer", "total"]
              },
              "distribution": {
                "type": "object",
                "properties": {
                  "oa": {
                    "type": "number"
                  },
                  "sa": {
                    "type": "number"
                  },
                  "ma": {
                    "type": "number"
                  },
                  "ra": {
                    "type": "number"
                  }
                },
                "required": ["oa", "sa", "ma", "ra"]
              },
              "interestEarned": {
                "type": "object",
                "properties": {
                  "oa": {
                    "type": "number"
                  },
                  "sa": {
                    "type": "number"
                  },
                  "ma": {
                    "type": "number"
                  },
                  "ra": {
                    "type": "number"
                  },
                  "extraInterest": {
                    "type": "number"
                  }
                },
                "required": ["oa", "sa", "ma", "ra", "extraInterest"]
              },
              "uncreditedInterest": {
                "$ref": "#/definitions/AccountBalances",
                "description": "Interest accrued but not yet credited at the end of a partial year."
              },
              "housingWithdrawal": {
                "type": "number"
              },
              "voluntaryTopUp": {
                "type": "number"
              },
              "retirementTransfer": {
                "type": "number"
              },
              "propertyPledgeWithdrawal": {
                "type": "number",
                "description": "RA cash withdrawn after the default FRS transfer when the qualifying property/BRS branch is selected."
              },
              "unappliedVoluntaryTopUp": {
                "type": "number",
                "description": "Requested top-up not applied because an official account limit was reached."
              },
              "topUpPotentialTaxRelief": {
                "type": "number",
                "description": "Maximum potential cash top-up relief before MRSS/MMSS, giver/recipient, residency, and overall personal-relief-cap eligibility checks."
              },
              "raSavingsForLimits": {
                "type": "number",
                "description": "RA savings counted towards retirement-sum and top-up limits."
              },
              "raSavingsForContributionRouting": {
                "type": "number",
                "description": "RA cash principal used to decide whether employment contributions route to RA or OA."
              },
              "bhs": {
                "type": "number"
              },
              "retirementSums": {
                "type": "object",
                "properties": {
                  "brs": {
                    "type": "number"
                  },
                  "frs": {
                    "type": "number"
                  },
                  "ers": {
                    "type": "number"
                  }
                },
                "required": ["brs", "frs", "ers"]
              },
              "policy": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": ["official", "assumed"]
                  },
                  "contribution": {
                    "$ref": "#/definitions/PolicyMetadata"
                  },
                  "allocation": {
                    "$ref": "#/definitions/PolicyMetadata"
                  },
                  "wageCeiling": {
                    "$ref": "#/definitions/PolicyMetadata"
                  },
                  "bhs": {
                    "$ref": "#/definitions/PolicyMetadata"
                  },
                  "retirementSums": {
                    "$ref": "#/definitions/PolicyMetadata"
                  },
                  "cohortRetirementSum": {
                    "$ref": "#/definitions/PolicyMetadata"
                  },
                  "interest": {
                    "$ref": "#/definitions/PolicyMetadata"
                  },
                  "extraInterest": {
                    "$ref": "#/definitions/PolicyMetadata"
                  },
                  "specialAccountClosure": {
                    "$ref": "#/definitions/PolicyMetadata"
                  },
                  "retirementTopUps": {
                    "$ref": "#/definitions/PolicyMetadata"
                  },
                  "taxRelief": {
                    "$ref": "#/definitions/PolicyMetadata"
                  }
                },
                "required": [
                  "status",
                  "contribution",
                  "allocation",
                  "wageCeiling",
                  "bhs",
                  "retirementSums",
                  "cohortRetirementSum",
                  "interest",
                  "extraInterest",
                  "specialAccountClosure",
                  "retirementTopUps",
                  "taxRelief"
                ]
              }
            },
            "required": [
              "year",
              "month",
              "age",
              "ageGroup",
              "balances",
              "contributions",
              "distribution",
              "interestEarned",
              "raSavingsForLimits",
              "raSavingsForContributionRouting",
              "bhs",
              "retirementSums",
              "policy"
            ]
          }
        },
        "cpfLifeReference": {
          "$ref": "#/definitions/CpfLifeReference"
        },
        "cpfLifeEstimate": {
          "type": "string",
          "x-nullable": true,
          "x-original-type": "null",
          "x-deprecated": true,
          "description": "Always null. Personalised payout estimation was removed; use CPF Board's estimator."
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "initial-balances-defaulted",
                  "year-to-date-interest-defaulted",
                  "start-month-defaulted",
                  "legacy-projection-input",
                  "legacy-transfer-field",
                  "legacy-top-up-account",
                  "ma-tax-relief-not-estimated",
                  "medisave-top-up-rejected",
                  "retirement-top-up-capped",
                  "tax-relief-year-to-date-defaulted",
                  "tax-relief-eligibility-context-missing",
                  "retirement-account-context-defaulted",
                  "property-withdrawal-context-simplified",
                  "future-policy-frozen",
                  "retirement-routing-assumed",
                  "cpf-life-estimate-removed",
                  "pr-anniversary-not-modelled",
                  "pr-year-resolved-from-date",
                  "retirement-top-up-capacity-context-missing",
                  "additional-wages-capped"
                ]
              },
              "message": {
                "type": "string"
              }
            },
            "required": ["code", "message"]
          }
        },
        "assumptions": {
          "type": "object",
          "description": "SimplyCPF projection assumptions, not CPF Board facts.",
          "properties": {
            "salary": {
              "type": "string",
              "enum": ["fixed-monthly-ordinary-wages"]
            },
            "additionalWages": {
              "type": "string",
              "enum": ["explicit-dated-payments-only"]
            },
            "interest": {
              "type": "string",
              "enum": ["official-quarterly-then-floor-assumption"]
            },
            "futurePolicy": {
              "type": "string",
              "enum": ["freeze-last-published"]
            },
            "startingBalances": {
              "type": "string",
              "enum": ["opening-of-start-month"]
            },
            "initialYearToDateInterest": {
              "type": "string",
              "enum": ["provided-or-zero-with-warning"]
            },
            "topUpTiming": {
              "type": "string",
              "enum": ["after-monthly-employment-contribution"]
            },
            "cpfLife": {
              "type": "string",
              "enum": ["premiums-and-payouts-not-modelled"]
            },
            "retirementRouting": {
              "type": "string",
              "enum": [
                "full-retirement-sum",
                "basic-retirement-sum-with-property"
              ]
            }
          },
          "required": [
            "salary",
            "additionalWages",
            "interest",
            "futurePolicy",
            "startingBalances",
            "initialYearToDateInterest",
            "topUpTiming",
            "cpfLife",
            "retirementRouting"
          ]
        },
        "milestones": {
          "type": "object",
          "properties": {
            "age55": {
              "$ref": "#/definitions/AccountBalances"
            },
            "age65": {
              "$ref": "#/definitions/AccountBalances"
            },
            "age70": {
              "$ref": "#/definitions/AccountBalances",
              "description": "Opening checkpoint immediately before the age-70 birthday and CPF LIFE payout-start month."
            }
          }
        },
        "totalContributed": {
          "type": "number"
        },
        "totalInterestEarned": {
          "type": "number"
        },
        "deprecatedInput": {
          "type": "object",
          "x-deprecated": true,
          "description": "Echo of the legacy income/age/years envelope when that compatibility path was used."
        },
        "projections": {
          "type": "array",
          "x-deprecated": true,
          "description": "Legacy annual contribution projection supplied only for income/age/years compatibility requests.",
          "items": {
            "type": "object"
          }
        }
      },
      "required": [
        "input",
        "yearlyBalances",
        "cpfLifeReference",
        "cpfLifeEstimate",
        "warnings",
        "assumptions",
        "milestones",
        "totalContributed",
        "totalInterestEarned"
      ]
    },
    "CpfLifeReference": {
      "type": "object",
      "description": "Exact CPF Board 2026 reference rows for a male member on the Standard Plan. Values are not interpolated.",
      "properties": {
        "referenceYear": {
          "type": "integer",
          "enum": [2026]
        },
        "plan": {
          "type": "string",
          "enum": ["Standard"]
        },
        "profile": {
          "type": "string",
          "enum": ["male"]
        },
        "rows": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "raAt55": {
                "type": "number"
              },
              "raAt65": {
                "type": "number"
              },
              "monthlyPayoutAt65": {
                "type": "number"
              },
              "monthlyPayoutAt70": {
                "type": "number"
              },
              "label": {
                "type": "string"
              }
            },
            "required": [
              "raAt55",
              "raAt65",
              "monthlyPayoutAt65",
              "monthlyPayoutAt70"
            ]
          }
        },
        "policy": {
          "$ref": "#/definitions/PolicyMetadata"
        },
        "sourceUrl": {
          "type": "string",
          "format": "uri"
        },
        "personalisedEstimatorUrl": {
          "type": "string",
          "format": "uri"
        },
        "verifiedAt": {
          "type": "string",
          "format": "date"
        },
        "note": {
          "type": "string"
        }
      },
      "required": [
        "referenceYear",
        "plan",
        "profile",
        "rows",
        "policy",
        "sourceUrl",
        "personalisedEstimatorUrl",
        "verifiedAt",
        "note"
      ]
    },
    "AgeGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "minAgeExclusive": {
          "type": "integer"
        },
        "maxAgeInclusive": {
          "type": "integer",
          "description": "Inclusive upper age bound; omitted only for the final open-ended band."
        },
        "retirementAccount": {
          "type": "string",
          "enum": ["SA", "RA", "age-dependent"],
          "description": "A generic band that crosses age 55 is age-dependent; use retirementRouting. Exact lookup responses resolve to SA or RA."
        },
        "retirementRouting": {
          "$ref": "#/definitions/AgeRetirementRouting"
        },
        "contributionRate": {
          "type": "object",
          "properties": {
            "employee": {
              "type": "number"
            },
            "employer": {
              "type": "number"
            }
          },
          "required": ["employee", "employer"]
        },
        "allocationRate": {
          "$ref": "#/definitions/AllocationRate"
        }
      },
      "required": [
        "id",
        "description",
        "retirementAccount",
        "retirementRouting",
        "contributionRate",
        "allocationRate"
      ]
    },
    "AllocationRate": {
      "type": "object",
      "properties": {
        "OA": {
          "type": "number"
        },
        "SA": {
          "type": "number",
          "description": "Present below 55, and for applicable pre-closure schedules."
        },
        "RA": {
          "type": "number",
          "description": "Present for members aged 55 and above after the 2025 SA closure."
        },
        "retirement": {
          "type": "number",
          "description": "Retirement allocation rate when a generic band crosses age 55 and the destination is age-dependent."
        },
        "MA": {
          "type": "number"
        }
      },
      "required": ["OA", "MA"]
    },
    "AgeRetirementRouting": {
      "type": "object",
      "description": "For type=fixed, account is required. For type=age-dependent, thresholdAge, belowThresholdAccount, and atOrAboveThresholdAccount are required.",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["fixed", "age-dependent"]
        },
        "account": {
          "type": "string",
          "enum": ["SA", "RA"]
        },
        "thresholdAge": {
          "type": "integer"
        },
        "belowThresholdAccount": {
          "type": "string",
          "enum": ["SA"]
        },
        "atOrAboveThresholdAccount": {
          "type": "string",
          "enum": ["RA"]
        }
      },
      "required": ["type"],
      "additionalProperties": false
    },
    "ScheduleSummary": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "effectiveFrom": {
          "type": "string",
          "format": "date"
        },
        "effectiveTo": {
          "type": "string",
          "format": "date"
        }
      },
      "required": ["id", "effectiveFrom", "effectiveTo"]
    },
    "AgePolicyMetadata": {
      "type": "object",
      "properties": {
        "contribution": {
          "$ref": "#/definitions/PolicyMetadata"
        },
        "allocation": {
          "$ref": "#/definitions/PolicyMetadata"
        }
      },
      "required": ["contribution", "allocation"]
    },
    "AgeGroupLookupResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/AgeGroup"
        },
        {
          "type": "object",
          "properties": {
            "contributionMonth": {
              "type": "string"
            },
            "citizenship": {
              "$ref": "#/definitions/Citizenship"
            },
            "schedule": {
              "$ref": "#/definitions/ScheduleSummary"
            },
            "policy": {
              "$ref": "#/definitions/AgePolicyMetadata"
            },
            "completedAge": {
              "type": "integer"
            }
          },
          "required": [
            "contributionMonth",
            "citizenship",
            "schedule",
            "policy",
            "completedAge"
          ]
        }
      ]
    },
    "AgeConversionResponse": {
      "type": "object",
      "properties": {
        "birthDate": {
          "type": "string",
          "x-deprecated": true,
          "description": "Present only when the deprecated birthDate alias was supplied."
        },
        "age": {
          "type": "integer",
          "x-deprecated": true,
          "description": "Legacy completed-age alias present only with birthDate."
        },
        "birthMonth": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
        },
        "contributionMonth": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
        },
        "completedAge": {
          "type": "integer"
        },
        "ageInMonths": {
          "type": "integer"
        },
        "isBirthdayMonth": {
          "type": "boolean"
        },
        "cpfRateTransition": {
          "type": "object",
          "properties": {
            "contributionBand": {
              "type": "string"
            },
            "allocationBand": {
              "type": "string"
            },
            "nextAgeBandStartsMonthAfterBirthday": {
              "type": "boolean",
              "enum": [true]
            }
          },
          "required": [
            "contributionBand",
            "allocationBand",
            "nextAgeBandStartsMonthAfterBirthday"
          ]
        },
        "schedule": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "effectiveFrom": {
              "type": "string",
              "format": "date"
            },
            "effectiveTo": {
              "type": "string",
              "format": "date"
            },
            "status": {
              "type": "string",
              "enum": ["official"]
            }
          },
          "required": ["id", "effectiveFrom", "effectiveTo", "status"]
        },
        "policy": {
          "type": "object",
          "properties": {
            "contribution": {
              "$ref": "#/definitions/PolicyMetadata"
            },
            "allocation": {
              "$ref": "#/definitions/PolicyMetadata"
            },
            "ageTransition": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": ["official"]
                },
                "verifiedAt": {
                  "type": "string",
                  "format": "date"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PolicySource"
                  }
                }
              },
              "required": ["status", "verifiedAt", "sources"]
            }
          },
          "required": ["contribution", "allocation", "ageTransition"]
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "deprecated-birth-date-alias",
                  "contribution-month-defaulted"
                ]
              },
              "message": {
                "type": "string"
              }
            },
            "required": ["code", "message"]
          }
        }
      },
      "required": [
        "birthMonth",
        "contributionMonth",
        "completedAge",
        "ageInMonths",
        "isBirthdayMonth",
        "cpfRateTransition",
        "schedule",
        "policy",
        "warnings"
      ]
    },
    "WageCeilingResponse": {
      "type": "object",
      "properties": {
        "effectiveFrom": {
          "type": "string",
          "format": "date"
        },
        "contributionMonth": {
          "type": "string"
        },
        "effectiveTo": {
          "type": "string",
          "format": "date"
        },
        "ordinaryWageCeiling": {
          "type": "number"
        },
        "additionalWageCeiling": {
          "type": "number",
          "description": "Annual ceiling before subtracting annual OW subject to CPF and prior AW subject to CPF."
        },
        "policy": {
          "$ref": "#/definitions/PolicyMetadata"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": ["code", "message"]
          }
        }
      },
      "required": [
        "contributionMonth",
        "effectiveFrom",
        "effectiveTo",
        "ordinaryWageCeiling",
        "additionalWageCeiling",
        "policy",
        "warnings"
      ]
    },
    "WageCeilingTimelineItem": {
      "type": "object",
      "properties": {
        "effectiveFrom": {
          "type": "string",
          "format": "date"
        },
        "effectiveTo": {
          "type": "string",
          "format": "date"
        },
        "ordinaryWageCeiling": {
          "type": "number"
        },
        "additionalWageCeiling": {
          "type": "number"
        },
        "policy": {
          "$ref": "#/definitions/PolicyMetadata"
        }
      },
      "required": [
        "effectiveFrom",
        "effectiveTo",
        "ordinaryWageCeiling",
        "additionalWageCeiling",
        "policy"
      ]
    },
    "BhsResponse": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer"
        },
        "bhs": {
          "type": "number"
        },
        "status": {
          "type": "string",
          "enum": ["official"]
        },
        "metadata": {
          "$ref": "#/definitions/PolicyMetadata"
        }
      },
      "required": ["year", "bhs", "status", "metadata"]
    },
    "BhsCollectionResponse": {
      "type": "object",
      "properties": {
        "years": {
          "type": "object",
          "additionalProperties": {
            "type": "number"
          }
        },
        "observations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "year": {
                "type": "integer"
              },
              "bhs": {
                "type": "number"
              },
              "status": {
                "type": "string",
                "enum": ["official"]
              }
            },
            "required": ["year", "bhs", "status"]
          }
        },
        "latestPublishedYear": {
          "type": "integer"
        },
        "latestPublished": {
          "type": "number"
        },
        "metadata": {
          "$ref": "#/definitions/PolicyMetadata"
        }
      },
      "required": [
        "years",
        "observations",
        "latestPublishedYear",
        "latestPublished",
        "metadata"
      ]
    },
    "RetirementSumsResponse": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer"
        },
        "brs": {
          "type": "number"
        },
        "frs": {
          "type": "number"
        },
        "ers": {
          "type": "number"
        },
        "status": {
          "type": "string",
          "enum": ["official"]
        },
        "metadata": {
          "$ref": "#/definitions/PolicyMetadata"
        }
      },
      "required": ["year", "brs", "frs", "ers", "status", "metadata"]
    },
    "RetirementSumsCollectionResponse": {
      "type": "object",
      "properties": {
        "years": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "brs": {
                "type": "number"
              },
              "frs": {
                "type": "number"
              },
              "ers": {
                "type": "number"
              }
            },
            "required": ["brs", "frs", "ers"]
          }
        },
        "observations": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "latestPublishedYear": {
          "type": "integer"
        },
        "latestPublished": {
          "type": "object"
        },
        "metadata": {
          "$ref": "#/definitions/PolicyMetadata"
        }
      },
      "required": [
        "years",
        "observations",
        "latestPublishedYear",
        "latestPublished",
        "metadata"
      ]
    },
    "QuarterlyInterestObservation": {
      "type": "object",
      "properties": {
        "quarter": {
          "type": "string"
        },
        "effectiveFrom": {
          "type": "string",
          "format": "date"
        },
        "effectiveTo": {
          "type": "string",
          "format": "date"
        },
        "oaRate": {
          "type": "number"
        },
        "saRate": {
          "type": "number"
        },
        "maRate": {
          "type": "number"
        },
        "raRate": {
          "type": "number"
        },
        "sourceUrl": {
          "type": "string",
          "format": "uri"
        },
        "status": {
          "type": "string",
          "enum": ["official"]
        },
        "verifiedAt": {
          "type": "string",
          "format": "date"
        }
      },
      "required": [
        "quarter",
        "effectiveFrom",
        "effectiveTo",
        "oaRate",
        "saRate",
        "maRate",
        "raRate",
        "sourceUrl",
        "status",
        "verifiedAt"
      ]
    },
    "QuarterlyInterestDeclaration": {
      "type": "object",
      "properties": {
        "quarter": {
          "type": "string"
        },
        "effectiveFrom": {
          "type": "string",
          "format": "date"
        },
        "effectiveTo": {
          "type": "string",
          "format": "date"
        },
        "oa": {
          "type": "number"
        },
        "sa": {
          "type": "number"
        },
        "ma": {
          "type": "number"
        },
        "ra": {
          "type": "number"
        },
        "sourceUrl": {
          "type": "string",
          "format": "uri"
        },
        "status": {
          "type": "string",
          "enum": ["official"]
        },
        "verifiedAt": {
          "type": "string",
          "format": "date"
        }
      },
      "required": [
        "quarter",
        "effectiveFrom",
        "effectiveTo",
        "oa",
        "sa",
        "ma",
        "ra",
        "sourceUrl",
        "status",
        "verifiedAt"
      ]
    },
    "InterestRatesResponse": {
      "type": "object",
      "properties": {
        "quarterlyRates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuarterlyInterestDeclaration"
          }
        },
        "methodology": {
          "$ref": "#/definitions/InterestRateMethodology"
        },
        "metadata": {
          "allOf": [
            {
              "$ref": "#/definitions/PolicyMetadata"
            },
            {
              "type": "object",
              "properties": {
                "latestPublishedQuarter": {
                  "type": "string"
                }
              },
              "required": ["latestPublishedQuarter"]
            }
          ]
        }
      },
      "required": ["quarterlyRates", "methodology", "metadata"]
    },
    "InterestRateMethodology": {
      "type": "object",
      "properties": {
        "ordinaryAccount": {
          "type": "object",
          "properties": {
            "peg": {
              "type": "string"
            },
            "floorRate": {
              "type": "number"
            },
            "reviewFrequency": {
              "type": "string"
            }
          },
          "required": ["peg", "floorRate", "reviewFrequency"]
        },
        "specialMediSaveRetirementAccounts": {
          "type": "object",
          "properties": {
            "peg": {
              "type": "string"
            },
            "markupPercentagePoints": {
              "type": "number"
            },
            "floorRate": {
              "type": "number"
            },
            "floorGuaranteedThrough": {
              "type": "string",
              "format": "date"
            },
            "reviewFrequency": {
              "type": "string"
            }
          },
          "required": [
            "peg",
            "markupPercentagePoints",
            "floorRate",
            "floorGuaranteedThrough",
            "reviewFrequency"
          ]
        },
        "status": {
          "type": "string",
          "enum": ["official"]
        },
        "verifiedAt": {
          "type": "string",
          "format": "date"
        },
        "sourceUrls": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "required": [
        "ordinaryAccount",
        "specialMediSaveRetirementAccounts",
        "status",
        "verifiedAt",
        "sourceUrls"
      ]
    },
    "InterestTrendResponse": {
      "type": "object",
      "properties": {
        "observations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuarterlyInterestObservation"
          }
        },
        "methodology": {
          "$ref": "#/definitions/InterestRateMethodology"
        },
        "policy": {
          "$ref": "#/definitions/PolicyMetadata"
        }
      },
      "required": ["observations", "methodology", "policy"]
    }
  }
}
